.width-100 {
  width: 100%;
}
.flex {
    display: flex;
    &-row {
      @extend .flex;
      flex-direction: row;
      &-x-center {

      }
      &-y-center {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &-x-around {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      &-x-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &-y-around {

      }
      &-y-between {

      }
      &-x-end {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      &-x-start {
        @extend .flex-row-x-end;
        justify-content: flex-start;
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      &-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-x-center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-x-start {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &-y-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
}