.flex {
    display: flex;
    &-row {
      flex-direction: row;
      &-x-center {

      }
      &-y-center {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &-x-around {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      &-x-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      &-y-around {

      }
      &-y-between {

      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      &-x-center {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-x-start {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &-y-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
}