$base_color:#303F9F;
$high_light_color: #63c565;
$grey_color: #A9A9A9;
$base_font_color: #FFFFFF;
$header_font_color_common: #BDBDBD;
$header_font_color_activity: #FFFFFF;
$border_color: #DCDFE6;
$disable_color: #909399;
