$base_color:#303F9F;
$high_light_color: #63c565;
$grey_color: #A9A9A9;
$base_font_color: #FFFFFF;
$header_font_color_common: #BDBDBD;
$header_font_color_activity: #FFFFFF;
$border_color: #DCDFE6;
$disable_color: #909399;
$shallow_grey_color: #eeeeee;
$base_black_color: #333333;
$light_blue: #4062BB;
$light_green: #C3E479;
$side-color: #16b13a;